<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="svtav1_gui.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    
    <userSettings>
        <svtav1_gui.My.MySettings>
            <setting name="quantizer" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="speed" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="tempFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioBitrate" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="removeTempFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TilingRows" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TilingColumns" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HME0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HME1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HME2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="TwoPassEncoding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoPipes" serializeAs="String">
                <value>False</value>
            </setting>
        </svtav1_gui.My.MySettings>
    </userSettings>
</configuration>
